## Import Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_path = 'C:/Users/Demi/Desktop/TB2/Mini project/simulated_transaction_2024.csv'
data = pd.read_csv(file_path)
data

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name
0,01/01/2023,00:00,678330503.0,2971.000000,1584.00,NaN,Westport Care Home
1,01/01/2023,00:00,472213568.0,3792.000000,1950.00,NaN,Barbiee Boutique
2,01/01/2023,00:00,472213568.0,3012.000000,-780.00,283027736.0,NaN
3,01/01/2023,00:00,283027736.0,1787.000000,780.00,472213568.0,NaN
4,01/01/2023,00:00,624500124.0,3226.000000,1825.00,NaN,Fat Face
...,...,...,...,...,...,...,...
230591,06/12/2023,20:54,581655972.0,45935.206861,-41.06,NaN,Tesco
230592,06/12/2023,20:55,786141370.0,-244.837500,-62.35,NaN,Sainsbury Local
230593,06/12/2023,21:05,824916823.0,9709.172159,-32.94,NaN,Deliveroo
230594,06/12/2023,21:13,366550080.0,26834.165794,-19.25,NaN,Amazon
230595,06/12/2023,21:32,259015404.0,1145.349837,-37.64,NaN,JustEat

In [3]:
data.isnull().sum()

Date                         229
Timestamp                    251
Account No                   224
Balance                      246
Amount                       209
Third Party Account No    223764
Third Party Name            7079
dtype: int64

# Handling missing data in Date and Timestamp

In [4]:
data[data['Date'].isna() & data['Timestamp'].isna()]

Empty DataFrame
Columns: [Date, Timestamp, Account No, Balance, Amount, Third Party Account No, Third Party Name]
Index: []

##### No row have missing data in 'Date' and 'Timestamp' at same time

In [5]:
data[data['Date'].isna() | data['Timestamp'].isna()]

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name
2734,01/01/2023,NaN,593191200.0,1490.020000,-14.99,NaN,Blizzard
3918,NaN,00:00,554792076.0,575.020000,-5.99,NaN,Mojang Studios
4106,NaN,00:00,581655972.0,6895.010000,-15.99,NaN,Netflix
4511,NaN,00:00,711140907.0,1217.000000,-7.00,NaN,Xbox
4710,NaN,09:23,310620484.0,992.080000,-11.98,NaN,The Works
...,...,...,...,...,...,...,...
228485,03/12/2023,NaN,165691047.0,793.947100,-67.97,NaN,Matalan
228813,04/12/2023,NaN,287230540.0,997.120998,-660.00,447298754.0,NaN
229139,04/12/2023,NaN,727417797.0,5970.393627,-39.77,NaN,Fat Face
230045,NaN,19:52,196289502.0,18280.425041,-49.93,NaN,Etsy
230251,06/12/2023,NaN,815385232.0,12245.673605,-2.11,NaN,AMAZON

In [6]:
df = data.copy()

In [7]:
df['Timestamp_delta'] = pd.to_timedelta(df['Timestamp'] + ':00')

# Perform forward and backward filling for Dates
df['Date_forward'] = df['Date'].ffill()
df['Date_backward'] = df['Date'].bfill()
# Perform forward filling for Timestamps
df['Timestamp_forward'] = df['Timestamp_delta'].ffill()

# Creating a temporary column for comparison.
df['Prev_Timestamp'] = df['Timestamp_delta'].shift(1)
df['Next_Timestamp'] = df['Timestamp_delta'].shift(-1)
df['Prev_Date'] = df['Date'].shift(1)
df['Next_Date'] = df['Date'].shift(-1)


# Handling missing values in Date
for i in range(len(df)):
    if pd.isnull(df.loc[i, 'Date']):
        # If forward and backward Dates are the same
        if df.loc[i, 'Date_forward'] == df.loc[i, 'Date_backward']:
            df.loc[i, 'Date'] = df.loc[i, 'Date_forward']
        else:
            # If Dates are different, compare Timestamps to determine the correct Date
            if df.loc[i, 'Timestamp_delta'] >= df.loc[i, 'Prev_Timestamp']: # 23:08 & 23:14, still same day
                df.loc[i, 'Date'] = df.loc[i, 'Prev_Date']
            else:
                df.loc[i, 'Date'] = df.loc[i, 'Next_Date']  # 23:08 & 00:14, start a new day

# Handling missing values in Timestamps
for i in range(len(df)):
    if pd.isnull(df.loc[i, 'Timestamp']):
        # If it has same Date with the previous entry, use the previous entry's Timestamp for filling
        if df.loc[i, 'Date'] == df.loc[i, 'Prev_Date']:
            df.loc[i, 'Timestamp'] = df.loc[i-1, 'Timestamp']
        else:
            df.loc[i, 'Timestamp'] = df.loc[i+1, 'Timestamp']


df.drop(['Timestamp_delta', 'Date_forward', 'Date_backward', 'Timestamp_forward', 'Prev_Timestamp', 'Next_Timestamp', 'Prev_Date', 'Next_Date'], axis=1, inplace=True)
df.head()

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name
0,01/01/2023,00:00,678330503.0,2971.0,1584.0,NaN,Westport Care Home
1,01/01/2023,00:00,472213568.0,3792.0,1950.0,NaN,Barbiee Boutique
2,01/01/2023,00:00,472213568.0,3012.0,-780.0,283027736.0,NaN
3,01/01/2023,00:00,283027736.0,1787.0,780.0,472213568.0,NaN
4,01/01/2023,00:00,624500124.0,3226.0,1825.0,NaN,Fat Face

In [8]:
df.isnull().sum()

Date                           0
Timestamp                      0
Account No                   224
Balance                      246
Amount                       209
Third Party Account No    223764
Third Party Name            7079
dtype: int64

In [9]:
# Combine Data and Timestamp
from datetime import datetime

df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Timestamp'], format='%d/%m/%Y %H:%M').dt.strftime('%Y-%m-%d %H:%M')
df = df.drop(['Date', 'Timestamp'], axis=1)

df

,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime
0,678330503.0,2971.000000,1584.00,NaN,Westport Care Home,2023-01-01 00:00
1,472213568.0,3792.000000,1950.00,NaN,Barbiee Boutique,2023-01-01 00:00
2,472213568.0,3012.000000,-780.00,283027736.0,NaN,2023-01-01 00:00
3,283027736.0,1787.000000,780.00,472213568.0,NaN,2023-01-01 00:00
4,624500124.0,3226.000000,1825.00,NaN,Fat Face,2023-01-01 00:00
...,...,...,...,...,...,...
230591,581655972.0,45935.206861,-41.06,NaN,Tesco,2023-12-06 20:54
230592,786141370.0,-244.837500,-62.35,NaN,Sainsbury Local,2023-12-06 20:55
230593,824916823.0,9709.172159,-32.94,NaN,Deliveroo,2023-12-06 21:05
230594,366550080.0,26834.165794,-19.25,NaN,Amazon,2023-12-06 21:13
230595,259015404.0,1145.349837,-37.64,NaN,JustEat,2023-12-06 21:32

# Handling missing data in Balance and Amount

## check

In [10]:
df[df['Balance'].isna() | df['Amount'].isna()]

,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime
949,857754342.0,2745.750000,NaN,NaN,LBG,2023-01-01 00:00
1392,246753533.0,NaN,-100.00,NaN,Grand Union BJJ,2023-01-01 00:00
1821,424397946.0,3358.010000,NaN,NaN,PureGym,2023-01-01 00:00
3937,987656636.0,844.020000,NaN,NaN,Disney,2023-01-01 00:00
4071,399538448.0,3506.070000,NaN,NaN,Amazon,2023-01-01 00:00
...,...,...,...,...,...,...
226295,661295096.0,3882.600950,NaN,NaN,Disney,2023-11-30 23:59
227463,460463595.0,6.012055,NaN,NaN,Tesco,2023-12-01 20:04
227645,587225252.0,7342.350655,NaN,NaN,Sainsbury Local,2023-12-02 07:37
229764,117273481.0,NaN,-6.15,NaN,Starbucks,2023-12-05 09:17
229970,497772347.0,47.741750,NaN,NaN,Matalan,2023-12-05 17:43

In [11]:
df[df['Balance'].isna() & df['Amount'].isna()]

Empty DataFrame
Columns: [Account No, Balance, Amount, Third Party Account No, Third Party Name, DateTime]
Index: []

##### No row have missing data in 'Balance' and 'Amount' at same time
##### Because we need to calculate missing data according to Account No

In [12]:
df[df['Balance'].isna() & df['Account No'].isna()]

,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime
163710,NaN,NaN,-19.19,NaN,Deliveroo,2023-09-05 18:22

In [13]:
df[df['Amount'].isna() & df['Account No'].isna()]

Empty DataFrame
Columns: [Account No, Balance, Amount, Third Party Account No, Third Party Name, DateTime]
Index: []

## Calculate missing 'Balance'
####  In case of missing record, use two methods: balance and amout in previous and behind to calculate balance. If the difference is less than 1, then use it. If more than 1, use the closer one.
##### If Keep 2 decimal places and leave 76 NAs, 1 decimal place and leave 50 NAs, and the difference is less than 1 and leave 47 NAs.

In [14]:
df['Balance'].isnull().sum()

246

In [15]:
df.sort_values(by=['Account No', 'DateTime'], inplace=True)
df = df.reset_index(drop=False)
df['DateTime'] = pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M')

# Save index of missing Balance with uncontinuous record
#uncontinuous_index = []

for i in range(1, len(df)):
    if pd.isnull(df.iloc[i]['Balance']):
        calc_balance_1 = None
        calc_balance_2 = None
        #  In case of missing record, use two methods to calculate balance
        if df.iloc[i]['Account No'] == df.iloc[i-1]['Account No']: # Check if the current row and the previous row belong to the same account
            calc_balance_1 = df.iloc[i-1]['Balance'] + df.iloc[i]['Amount']
        if df.iloc[i]['Account No'] == df.iloc[i+1]['Account No']: # Check if the current row and the next row belong to the same account
            calc_balance_2 = df.iloc[i+1]['Balance'] - df.iloc[i+1]['Amount']

        if calc_balance_1 is not None and calc_balance_2 is not None:
            # When both methods give the same result, then fill the 'Balance'
            if abs(calc_balance_1 - calc_balance_2) <= 1:
                df.at[i, 'Balance'] = calc_balance_1    
            # When give unequal results, record is not continuous, choose the closer one in DateTime
            if abs(calc_balance_1 - calc_balance_2) > 1:
                #uncontinuous_index.extend([i-1, i, i+1]) 
                time_diff_prev = abs(df.iloc[i]['DateTime'] - df.iloc[i - 1]['DateTime'])
                time_diff_next = abs(df.iloc[i]['DateTime'] - df.iloc[i + 1]['DateTime'])
                if time_diff_prev < time_diff_next: 
                    df.at[i, 'Balance'] = calc_balance_1
                else:
                    df.at[i, 'Balance'] = calc_balance_2

# Check missing Balance with uncontinuous record
#uncontinuous_index.sort()
#uncontinuous = df.iloc[uncontinuous_index]
#uncontinuous.to_csv('uncontinuous.csv')
                
df['Balance'].isnull().sum()

1

In [16]:
df[df['Balance'].isna()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime
230519,163710,NaN,NaN,-19.19,NaN,Deliveroo,2023-09-05 18:22:00

One row cannot calculate because of missing 'Account No'

## Calculate missing 'Amount'

### fixed values

In [17]:
df['Amount'].isnull().sum()

209

##### Add assuming Amount from the difference between two Balances

In [18]:
for i in df[df['Amount'].isnull()].index:
    account_no = df.at[i, 'Account No']
    if df.at[i - 1, 'Account No'] == account_no:  # Ensure the previous record is from the same account
        calc_amount = df.at[i, 'Balance'] - df.at[i - 1, 'Balance']  
        df.at[i, 'Calculated_Amount'] = calc_amount
    else:
        continue

##### There are fixed deductions and disbursements such as salaries, loans, and monthly fees that occur on the first day of each month at 00:00, and on the last day of each month at both 00:00 and 23:59, totaling 47 instances.

In [19]:
missing_amount = df[df['Amount'].isna()]
start_end = missing_amount[missing_amount['DateTime'].dt.strftime('%H:%M').isin(['00:00', '23:59'])]
start_end = start_end.sort_values('DateTime', ascending=True)
#start_end = start_end[~start_end['Third Party Name'].isnull()]

print(start_end.shape[0])
start_end

54

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
226851,3937,987656636.0,844.020000,NaN,NaN,Disney,2023-01-01 00:00:00,-7.99
195445,949,857754342.0,2745.750000,NaN,NaN,LBG,2023-01-01 00:00:00,-1268.00
79963,1821,424397946.0,3358.010000,NaN,NaN,PureGym,2023-01-01 00:00:00,-18.99
72806,4071,399538448.0,3506.070000,NaN,NaN,Amazon,2023-01-01 00:00:00,-7.99
80375,20245,425730826.0,1349.167609,NaN,191631876.0,NaN,2023-01-30 23:59:00,1910.00
31757,23836,224112146.0,393.642650,NaN,NaN,Netflix,2023-01-31 23:59:00,-15.99
98541,22434,496395938.0,5197.963098,NaN,NaN,LBG,2023-02-01 00:00:00,-561.00
139396,22401,644751433.0,1114.552142,NaN,NaN,LBG,2023-02-01 00:00:00,-1752.00
192713,22111,851181128.0,4679.511779,NaN,NaN,Craftastic,2023-02-01 00:00:00,509.95
116354,42431,552980092.0,86.845719,NaN,NaN,Blizzard,2023-02-28 23:59:00,-14.99
46882,43431,285220959.0,2837.189969,NaN,NaN,SquareOnix,2023-02-28 23:59:00,-12.99
140223,56888,648644594.0,2044.399450,NaN,NaN,Head,2023-03-31 00:00:00,510.00
225766,56376,986267641.0,4423.917250,NaN,NaN,Boots,2023-03-31 00:00:00,3750.00
32626,62300,227104649.0,2117.198134,NaN,NaN,Disney,2023-03-31 23:59:00,1667.01
20032,62064,179173981.0,3418.529542,NaN,NaN,Blizzard,2023-03-31 23:59:00,-14.99
70983,59628,391688371.0,2529.695089,NaN,NaN,PureGym,2023-03-31 23:59:00,-18.99
136126,80307,630691258.0,659.440701,NaN,NaN,Netflix,2023-04-30 23:59:00,-632.99
142622,79264,656781737.0,-3871.100000,NaN,NaN,Netflix,2023-04-30 23:59:00,-15.99
73230,77279,401293808.0,402.612150,NaN,NaN,Blizzard,2023-04-30 23:59:00,-14.99
85646,79362,449387287.0,560.207694,NaN,NaN,Disney,2023-04-30 23:59:00,-7.99
14837,77013,155317149.0,478.956700,NaN,NaN,PureGym,2023-04-30 23:59:00,-18.99
79628,75897,422955974.0,1308.688335,NaN,NaN,Brilliant Brushes,2023-05-01 00:00:00,1135.97
58109,93265,331684336.0,543.955030,NaN,250957494.0,NaN,2023-05-30 23:59:00,1170.00
189146,93257,834581602.0,1519.622150,NaN,444371478.0,NaN,2023-05-30 23:59:00,1532.00
4157,94385,119993184.0,472.007697,NaN,384497904.0,NaN,2023-05-31 23:59:00,1282.00
30462,96890,217540156.0,-2232.672320,NaN,NaN,SquareOnix,2023-05-31 23:59:00,-12.99
135000,96489,627723633.0,-725.245378,NaN,NaN,Xbox,2023-05-31 23:59:00,-7.00
27689,98769,212560376.0,-158.813874,NaN,NaN,PureGym,2023-05-31 23:59:00,-18.99
157485,95271,700138124.0,2558.167300,NaN,NaN,Halifax,2023-06-01 00:00:00,42.97
224662,117101,982286721.0,-2579.855524,NaN,NaN,Disney,2023-06-30 23:59:00,-7.99
11530,116747,145387690.0,5761.561977,NaN,NaN,SquareOnix,2023-06-30 23:59:00,-12.99
57271,137240,329840194.0,1851.853730,NaN,NaN,PureGym,2023-07-31 23:59:00,-18.99
7254,137354,130522384.0,-339.413816,NaN,NaN,PureGym,2023-07-31 23:59:00,-865.99
171179,135681,762859681.0,-256.849900,NaN,NaN,Netflix,2023-07-31 23:59:00,-15.99
205610,154900,895331556.0,1051.420600,NaN,NaN,Stitch By Stitch,2023-08-31 00:00:00,1675.00
58834,155900,336557504.0,2583.640089,NaN,578131296.0,NaN,2023-08-31 23:59:00,2131.66
30901,157001,220183538.0,926.425400,NaN,NaN,Disney,2023-08-31 23:59:00,-7.99
96880,156979,492215823.0,1881.102574,NaN,NaN,Netflix,2023-08-31 23:59:00,-15.99
138371,156819,639549973.0,7060.583110,NaN,NaN,Blizzard,2023-08-31 23:59:00,-14.99
42532,158016,266777719.0,359.686434,NaN,NaN,PureGym,2023-08-31 23:59:00,-824.99
9623,156592,138351025.0,-301.323450,NaN,NaN,Halifax,2023-09-01 00:00:00,69.96
58598,181457,336171116.0,-425.534550,NaN,NaN,SquareOnix,2023-09-30 23:59:00,-1097.99
57305,180285,329840194.0,2039.106730,NaN,NaN,SquareOnix,2023-09-30 23:59:00,-12.99
220733,178071,962295212.0,-3803.757650,NaN,NaN,Halifax,2023-10-01 00:00:00,71.95
59072,202796,337771621.0,-2829.262650,NaN,NaN,Blizzard,2023-10-31 23:59:00,-14.99
129831,200880,607629901.0,-4326.078320,NaN,NaN,SquareOnix,2023-10-31 23:59:00,-1855.99
182247,200280,812012103.0,-781.904300,NaN,291580432.0,NaN,2023-10-31 23:59:00,620.00
19614,220964,175452235.0,-500.548250,NaN,835736339.0,NaN,2023-11-29 23:59:00,1310.00
185988,220958,822718326.0,14588.708001,NaN,NaN,Boots,2023-11-30 00:00:00,3333.00
203311,224074,887156614.0,-335.438621,NaN,NaN,SquareOnix,2023-11-30 23:59:00,-12.99
98505,223924,494977194.0,2126.834471,NaN,NaN,SquareOnix,2023-11-30 23:59:00,-12.99
144821,226295,661295096.0,3882.600950,NaN,NaN,Disney,2023-11-30 23:59:00,1021.01
144572,225501,660874296.0,262.597450,NaN,NaN,Blizzard,2023-11-30 23:59:00,-14.99
89220,224649,462962606.0,-405.769950,NaN,NaN,Mojang Studios,2023-11-30 23:59:00,-5.99

### Fix values in Third Party Account No

In [20]:
df[df['Third Party Account No'].notnull() & df['Amount'].isnull()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
4157,94385,119993184.0,472.007697,NaN,384497904.0,NaN,2023-05-31 23:59:00,1282.00
19614,220964,175452235.0,-500.548250,NaN,835736339.0,NaN,2023-11-29 23:59:00,1310.00
58109,93265,331684336.0,543.955030,NaN,250957494.0,NaN,2023-05-30 23:59:00,1170.00
58834,155900,336557504.0,2583.640089,NaN,578131296.0,NaN,2023-08-31 23:59:00,2131.66
80375,20245,425730826.0,1349.167609,NaN,191631876.0,NaN,2023-01-30 23:59:00,1910.00
182247,200280,812012103.0,-781.904300,NaN,291580432.0,NaN,2023-10-31 23:59:00,620.00
189146,93257,834581602.0,1519.622150,NaN,444371478.0,NaN,2023-05-30 23:59:00,1532.00
207358,30751,899983008.0,-160.647450,NaN,791220575.0,NaN,2023-02-08 22:21:00,-200.00

#### Because most of missing in these rows are fix, use mode to fill

In [21]:
from scipy import stats

modes = df[df['Third Party Account No'].notnull() & df['Amount'].notnull()].groupby('Third Party Account No')['Amount'].agg(pd.Series.mode)
mode_dict = modes.to_dict()
df.loc[df['Amount'].isnull() & df['Third Party Account No'].notnull(), 'Amount'] = df['Third Party Account No'].map(mode_dict)

C:\Users\Demi\AppData\Local\Temp\ipykernel_14860\70339268.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[-430.0 1310.0 -780.0 -710.0 1910.0 620.0 -510.0
 array([-300., -250., -210., -200., -150., -140., -110., -100.,  -80.,
         -50.])                                                       ]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['Amount'].isnull() & df['Third Party Account No'].notnull(), 'Amount'] = df['Third Party Account No'].map(mode_dict)

In [22]:
indices = [4157, 19614, 58109, 58834, 80375, 182247, 189146, 207358]
extracted_rows = df.loc[indices]
extracted_rows

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
4157,94385,119993184.0,472.007697,-430.0,384497904.0,NaN,2023-05-31 23:59:00,1282.00
19614,220964,175452235.0,-500.548250,1310.0,835736339.0,NaN,2023-11-29 23:59:00,1310.00
58109,93265,331684336.0,543.955030,-780.0,250957494.0,NaN,2023-05-30 23:59:00,1170.00
58834,155900,336557504.0,2583.640089,-710.0,578131296.0,NaN,2023-08-31 23:59:00,2131.66
80375,20245,425730826.0,1349.167609,1910.0,191631876.0,NaN,2023-01-30 23:59:00,1910.00
182247,200280,812012103.0,-781.904300,620.0,291580432.0,NaN,2023-10-31 23:59:00,620.00
189146,93257,834581602.0,1519.622150,-510.0,444371478.0,NaN,2023-05-30 23:59:00,1532.00
207358,30751,899983008.0,-160.647450,"[-300.0, -250.0, -210.0, -200.0, -150.0, -140....",791220575.0,NaN,2023-02-08 22:21:00,-200.00

In [23]:
# Mannual change Amount
df.at[207358, 'Amount'] = df.at[207358, 'Calculated_Amount']

#### this one is not fix, just use the Calculated result

### Fix values in Third Party Name

#### Find the Amount from the last instance and the next instance for the same time across different months. total of 38 instances are filled.
#### like 1/1 00:00 use 2/1 00:00 in same Account and Third Party, and 1/31 00:00 use 2/28 00:00, 2/28 23:59 use 3/31 23:59

In [24]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

filled_indices = []
filled_indices2 = []

# calculate special data and timestamp
def get_special_dates(year, month):
    first_day_of_month = pd.Timestamp(year=year, month=month, day=1)
    last_day_of_month = first_day_of_month + pd.offsets.MonthEnd(0)
    last_day_of_month_0000 = last_day_of_month.replace(hour=00, minute=00, second=00)
    last_day_of_month_2359 = last_day_of_month.replace(hour=23, minute=59, second=00)
    return first_day_of_month, last_day_of_month_0000, last_day_of_month_2359

# Find Na of Amount
for i, row in df[df['Amount'].isnull()].iterrows():
    account_no = row['Account No']
    third_party_name = row['Third Party Name']
    current_datetime = row['DateTime']
    year, month = current_datetime.year, current_datetime.month
    
    first_day_of_month, last_day_of_month_0000, last_day_of_month_2359 = get_special_dates(year, month)
    
    # Compare data and timestamp 
    target_dates = []
    if current_datetime in [first_day_of_month, last_day_of_month_0000, last_day_of_month_2359]:
        if current_datetime == first_day_of_month:
            target_dates = [first_day_of_month - pd.offsets.MonthBegin(1), first_day_of_month + pd.offsets.MonthBegin(1)]
        elif current_datetime == last_day_of_month_0000:
            target_dates = [last_day_of_month_0000 - pd.offsets.MonthEnd(1), last_day_of_month_0000 + pd.offsets.MonthEnd(1)]
        elif current_datetime == last_day_of_month_2359:
            target_dates = [last_day_of_month_2359 - pd.offsets.MonthEnd(1), last_day_of_month_2359 + pd.offsets.MonthEnd(1)]
    
    # fill NA of Amount
    for td in target_dates:
        matching_record = df[(df['Account No'] == account_no) & 
                             (df['Third Party Name'] == third_party_name) & 
                             (df['DateTime'] == td)]
        if not matching_record.empty:
            fill_amount = matching_record.iloc[0]['Amount']
            df.at[i, 'Amount'] = fill_amount
            filled_indices.append(i)
            filled_indices2.append(df.at[i, 'index'])
            break  

print(f"Filled indices: {filled_indices}")
length_filled_indices = len(filled_indices)
length_filled_indices

Filled indices: [7254, 9623, 14837, 20032, 27689, 30462, 30901, 31757, 32626, 42532, 46882, 57271, 58598, 70983, 79628, 85646, 89220, 96880, 98505, 98541, 116354, 129831, 135000, 136126, 139396, 140223, 142622, 144572, 144821, 157485, 171179, 185988, 192713, 195445, 205610, 220733, 224662, 225766]

38

##### Check the result of filling missing value

In [25]:
extracted_rows = []

for index in filled_indices:
    #if index in df.index and (index - 1) in df.index:
    extracted_row = df.loc[[index - 1, index]]
    extracted_rows.append(extracted_row)

extracted_rows_df = pd.concat(extracted_rows)
extracted_rows_df.to_csv('extracted_rows.csv', index=False)

In [26]:
df['Amount'].isnull().sum()

163

### According to two Balance to calculate Amount

In [27]:
df['Amount'].isnull().sum()

163

#### Check the calculate amount inside the mean+-3*std or not, if not use mean, if std is NA or 0 still use mean
#### For personal transfers, use the overall data for filling in missing values. 
#### For merchant transactions, use the average value for each account to fill in the gaps

In [28]:
# Calculate stats for merchant transactions and personal transfers
merchant_stats = df[(df['Third Party Name'].notnull()) & (df['Amount'].notnull())].groupby(['Account No', 'Third Party Name'])['Amount'].agg(['mean', 'std'])
personal_stats = df[(df['Third Party Account No'].notnull()) & (df['Amount'].notnull())].groupby(['Third Party Account No'])['Amount'].agg(['mean', 'std'])

count0, count1, count2 = [0, 0, 0]
count3, count4, count5 = [0, 0, 0]
index_mer1 = []
index_mer2 = []
index_mer3 = []
index_mer4 = []
df['Calculated_Amount'] = None

for i in df[df['Amount'].isnull()].index:
    account_no = df.at[i, 'Account No']
    third_party_name = df.at[i, 'Third Party Name']
    third_party_account_no = df.at[i, 'Third Party Account No']

    # Calculate the amount
    if df.at[i - 1, 'Account No'] == account_no:  # Ensure the previous record is from the same account
        calc_amount = df.at[i, 'Balance'] - df.at[i - 1, 'Balance']  
        df.at[i, 'Calculated_Amount'] = calc_amount  # Store the calculated amount
    else:
        continue

    # If it's a merchant transaction
    if pd.notnull(third_party_name) and pd.isnull(third_party_account_no):
        if (account_no, third_party_name) in merchant_stats.index:
            mean = merchant_stats.loc[(account_no, third_party_name), 'mean']
            std = merchant_stats.loc[(account_no, third_party_name), 'std']
            if pd.notnull(std) and std != 0:
                if (mean - 3*std) <= calc_amount <= (mean + 3*std):
                    df.at[i, 'Amount'] = calc_amount
                    count0 += 1
                else:
                    df.at[i, 'Amount'] = mean
                    index_mer1.append(i)
                    count1 += 1
            else:
                df.at[i, 'Amount'] = mean
                index_mer2.append(i)
                count2 += 1
        
    # If it's a personal transfer
    elif pd.isnull(third_party_name) and pd.notnull(third_party_account_no):
        if third_party_account_no in personal_stats.index:
            mean = personal_stats.loc[(third_party_account_no), 'mean']
            std = personal_stats.loc[(third_party_account_no), 'std']
            if pd.notnull(std) and std != 0:
                if (mean - 3*std) <= calc_amount <= (mean + 3*std):
                    df.at[i, 'Amount'] = calc_amount
                    count3 += 1
                else:
                    df.at[i, 'Amount'] = mean
                    count4 += 1
                    index_mer3.append(i)
            else:
                df.at[i, 'Amount'] = mean
                count5 += 1
                index_mer4.append(i)

# Check the remaining number of records with null Amounts
df['Amount'].isnull().sum(), count0, count1, count2, count3, count4, count5

(2, 145, 5, 11, 0, 0, 0)

#### Check the fill resulte, and manual fix part of them

In [29]:
fill = df.iloc[index_mer1]
fill

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
32249,111098,225210798.0,893.968643,-26.896731,NaN,Cass Art,2023-06-26 10:01:00,-94.97
61533,89764,348325817.0,6841.348691,-17.738333,NaN,Fitted Stitch,2023-05-22 08:33:00,-33.755772
106086,118627,519933553.0,544.003004,-66.868214,NaN,Tesco,2023-07-01 08:34:00,-216.916
123025,26511,583558311.0,557.978785,-73.841905,NaN,Sports Direct,2023-02-01 09:20:00,-177.98
150608,35415,679911053.0,1490.139357,-25.348,NaN,Deliveroo,2023-02-20 00:33:00,-41.24

In [30]:
# Except Tesco
indices_to_update = [32249, 61533, 123025, 150608]
for idx in indices_to_update:
    df.at[idx, 'Amount'] = df.at[idx, 'Calculated_Amount']

fill = df.iloc[index_mer1]
fill

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
32249,111098,225210798.0,893.968643,-94.97,NaN,Cass Art,2023-06-26 10:01:00,-94.97
61533,89764,348325817.0,6841.348691,-33.755772,NaN,Fitted Stitch,2023-05-22 08:33:00,-33.755772
106086,118627,519933553.0,544.003004,-66.868214,NaN,Tesco,2023-07-01 08:34:00,-216.916
123025,26511,583558311.0,557.978785,-177.98,NaN,Sports Direct,2023-02-01 09:20:00,-177.98
150608,35415,679911053.0,1490.139357,-41.24,NaN,Deliveroo,2023-02-20 00:33:00,-41.24

In [31]:
fill = df.iloc[index_mer2]
fill

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
11530,116747,145387690.0,5761.561977,-12.99,NaN,SquareOnix,2023-06-30 23:59:00,-12.99
57305,180285,329840194.0,2039.106730,-12.99,NaN,SquareOnix,2023-09-30 23:59:00,-12.99
59072,202796,337771621.0,-2829.262650,-14.99,NaN,Blizzard,2023-10-31 23:59:00,-14.99
73230,77279,401293808.0,402.612150,-14.99,NaN,Blizzard,2023-04-30 23:59:00,-14.99
79963,1821,424397946.0,3358.010000,-18.99,NaN,PureGym,2023-01-01 00:00:00,-18.99
117315,73954,555804115.0,-1222.221848,-10.04,NaN,JustEat,2023-04-29 02:47:00,-13.34
133373,213902,623156843.0,4600.020616,-17.49,NaN,Etsy,2023-11-17 04:42:00,-54.103313
138371,156819,639549973.0,7060.583110,-14.99,NaN,Blizzard,2023-08-31 23:59:00,-14.99
152655,17105,684988568.0,1155.664625,-99.98,NaN,CeX,2023-01-23 16:41:00,-129.97
203311,224074,887156614.0,-335.438621,-12.99,NaN,SquareOnix,2023-11-30 23:59:00,-12.99
226851,3937,987656636.0,844.020000,-7.99,NaN,Disney,2023-01-01 00:00:00,-7.99

In [32]:
# Change value of JustEatï¼ŒEtsyï¼ŒCeX
indices_to_update = [117315, 133373, 152655]
for idx in indices_to_update:
    df.at[idx, 'Amount'] = df.at[idx, 'Calculated_Amount']

fill = df.iloc[index_mer2]
fill

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
11530,116747,145387690.0,5761.561977,-12.99,NaN,SquareOnix,2023-06-30 23:59:00,-12.99
57305,180285,329840194.0,2039.106730,-12.99,NaN,SquareOnix,2023-09-30 23:59:00,-12.99
59072,202796,337771621.0,-2829.262650,-14.99,NaN,Blizzard,2023-10-31 23:59:00,-14.99
73230,77279,401293808.0,402.612150,-14.99,NaN,Blizzard,2023-04-30 23:59:00,-14.99
79963,1821,424397946.0,3358.010000,-18.99,NaN,PureGym,2023-01-01 00:00:00,-18.99
117315,73954,555804115.0,-1222.221848,-13.34,NaN,JustEat,2023-04-29 02:47:00,-13.34
133373,213902,623156843.0,4600.020616,-54.103313,NaN,Etsy,2023-11-17 04:42:00,-54.103313
138371,156819,639549973.0,7060.583110,-14.99,NaN,Blizzard,2023-08-31 23:59:00,-14.99
152655,17105,684988568.0,1155.664625,-129.97,NaN,CeX,2023-01-23 16:41:00,-129.97
203311,224074,887156614.0,-335.438621,-12.99,NaN,SquareOnix,2023-11-30 23:59:00,-12.99
226851,3937,987656636.0,844.020000,-7.99,NaN,Disney,2023-01-01 00:00:00,-7.99

In [33]:
df[df['Amount'].isna()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
123247,65949,583579399.0,514.902300,NaN,NaN,NaN,2023-04-08 12:09:00,-50.0346
196979,34681,859264768.0,403.097292,NaN,NaN,CeX,2023-02-18 09:41:00,-79.98

In [34]:
df.at[196979, 'Amount'] = df.at[196979, 'Calculated_Amount']

In [35]:
df.isnull().sum()

index                          0
Account No                   224
Balance                        1
Amount                         1
Third Party Account No    223764
Third Party Name            7079
DateTime                       0
Calculated_Amount         230433
dtype: int64

# Handling missing data in Third Party Account No and Third Party Name

In [36]:
df[df['Third Party Account No'].isna() & df['Third Party Name'].isna()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
368,93675,105375973.0,52.965653,900.0,NaN,NaN,2023-05-30 23:59:00,None
374,108788,105375973.0,-182.724347,-26.49,NaN,NaN,2023-06-21 04:48:00,None
1002,228343,108481285.0,10767.326581,-2.8,NaN,NaN,2023-12-03 05:58:00,None
2983,182197,116598243.0,3076.114937,-5.59,NaN,NaN,2023-10-01 08:49:00,None
3175,63226,117273481.0,3657.941568,-5.99,NaN,NaN,2023-04-02 10:33:00,None
...,...,...,...,...,...,...,...,...
227110,130397,987656636.0,5521.149609,-170.8,NaN,NaN,2023-07-24 11:28:00,None
227530,77836,990461108.0,82.276269,-12.99,NaN,NaN,2023-04-30 23:59:00,None
228061,181632,992204045.0,12794.371385,-5.99,NaN,NaN,2023-09-30 23:59:00,None
230199,103361,999752672.0,1792.000094,-125.55,NaN,NaN,2023-06-09 08:39:00,None
230400,31499,NaN,-234.967241,-118.6,NaN,NaN,2023-02-10 18:58:00,None

### fill missing value in fix time  
#### Use same values in 00:00 and 23:59 at start or end of month in same account number and same amount

In [37]:
filled_names_indices = []
filled_names_indices2 = []

# Find Na of Amount Third Party Name
for i, row in df[df['Third Party Account No'].isna() & df['Third Party Name'].isna()].iterrows():
    account_no = row['Account No']
    same_amount = row['Amount']
    current_datetime = row['DateTime']
    year, month = current_datetime.year, current_datetime.month
   
    first_day_of_month, last_day_of_month_0000, last_day_of_month_2359 = get_special_dates(year, month)
    
    # Compare data and timestamp 
    target_dates = []
    if current_datetime in [first_day_of_month, last_day_of_month_0000, last_day_of_month_2359]:
        if current_datetime == first_day_of_month:
            target_dates = [first_day_of_month - pd.offsets.MonthBegin(1), first_day_of_month + pd.offsets.MonthBegin(1)]
        elif current_datetime == last_day_of_month_0000:
            target_dates = [last_day_of_month_0000 - pd.offsets.MonthEnd(1), last_day_of_month_0000 + pd.offsets.MonthEnd(1)]
        elif current_datetime == last_day_of_month_2359:
            target_dates = [last_day_of_month_2359 - pd.offsets.MonthEnd(1), last_day_of_month_2359 + pd.offsets.MonthEnd(1)]
    
    # fill NA of Amount
    for td in target_dates:
        matched_records = df[(df['Account No'] == account_no) &
                                (df['Amount'] == same_amount) &
                                (df['DateTime'] == td) &
                                (df['Third Party Name'].notnull())]

        # If a match with a 'Third Party Name' is found, fill in the missing value
        if not matched_records.empty:
            third_party_name = matched_records.iloc[0]['Third Party Name']
            df.at[i, 'Third Party Name'] = third_party_name
            filled_names_indices.append(i)
            filled_names_indices2.append(df.at[i, 'index'])
            break

print(f"Filled indices: {filled_names_indices}")
length_filled_names_indices = len(filled_names_indices)
length_filled_names_indices

Filled indices: [7780, 8673, 10566, 12285, 17654, 19132, 22737, 30866, 31084, 33829, 38081, 38205, 41175, 43530, 51972, 52202, 55423, 59082, 63091, 64078, 65467, 67936, 87576, 88601, 90364, 93263, 105068, 105991, 109419, 117924, 122183, 130150, 130378, 139191, 139915, 173776, 181505, 183623, 189446, 194808, 198061, 200599, 213282, 215448, 228061]

45

In [38]:
filled_names_indices3 = []
filled_names_indices4 = []


# Find Na of Amount Third Party Account No
for i, row in df[df['Third Party Name'].isnull() & df['Third Party Account No'].isnull()].iterrows():
    account_no = row['Account No']
    same_amount = row['Amount']
    current_datetime = row['DateTime']
    year, month = current_datetime.year, current_datetime.month
   
    first_day_of_month, last_day_of_month_0000, last_day_of_month_2359 = get_special_dates(year, month)
    
    # Compare data and timestamp 
    target_dates = []
    if current_datetime in [first_day_of_month, last_day_of_month_0000, last_day_of_month_2359]:
        if current_datetime == first_day_of_month:
            target_dates = [first_day_of_month - pd.offsets.MonthBegin(1), first_day_of_month + pd.offsets.MonthBegin(1)]
        elif current_datetime == last_day_of_month_0000:
            target_dates = [last_day_of_month_0000 - pd.offsets.MonthEnd(1), last_day_of_month_0000 + pd.offsets.MonthEnd(1)]
        elif current_datetime == last_day_of_month_2359:
            target_dates = [last_day_of_month_2359 - pd.offsets.MonthEnd(1), last_day_of_month_2359 + pd.offsets.MonthEnd(1)]
    
    # fill NA of Amount
    for td in target_dates:
        matched_records = df[(df['Account No'] == account_no) &
                                (df['Amount'] == same_amount) &
                                (df['DateTime'] == td) &
                                (df['Third Party Account No'].notnull())]

        # If a match with a 'Third Party Account No' is found, fill in the missing value
        if not matched_records.empty:
            third_party_account = matched_records.iloc[0]['Third Party Account No']
            df.at[i, 'Third Party Account No'] = third_party_account
            filled_names_indices3.append(i)
            filled_names_indices4.append(df.at[i, 'index'])
            break

print(f"Filled indices: {filled_names_indices3}")
length_filled_names_indices2 = len(filled_names_indices3)
length_filled_names_indices2

Filled indices: [86745, 99905, 221720]

3

In [39]:
df[df['Third Party Account No'].isna() & df['Third Party Name'].isna()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
368,93675,105375973.0,52.965653,900.0,NaN,NaN,2023-05-30 23:59:00,None
374,108788,105375973.0,-182.724347,-26.49,NaN,NaN,2023-06-21 04:48:00,None
1002,228343,108481285.0,10767.326581,-2.8,NaN,NaN,2023-12-03 05:58:00,None
2983,182197,116598243.0,3076.114937,-5.59,NaN,NaN,2023-10-01 08:49:00,None
3175,63226,117273481.0,3657.941568,-5.99,NaN,NaN,2023-04-02 10:33:00,None
...,...,...,...,...,...,...,...,...
224643,72779,982286721.0,-2080.205524,-49.59,NaN,NaN,2023-04-25 13:53:00,None
227110,130397,987656636.0,5521.149609,-170.8,NaN,NaN,2023-07-24 11:28:00,None
227530,77836,990461108.0,82.276269,-12.99,NaN,NaN,2023-04-30 23:59:00,None
230199,103361,999752672.0,1792.000094,-125.55,NaN,NaN,2023-06-09 08:39:00,None
230400,31499,NaN,-234.967241,-118.6,NaN,NaN,2023-02-10 18:58:00,None

### fill missing value in fix value and fix time
#### Use mode in 00:00 and 23:59 with same account number and same amount

In [40]:
# check missing in fix time
missing_amount2 = df[df['Third Party Account No'].isna() & df['Third Party Name'].isna()]
start_end2 = missing_amount2[missing_amount2['DateTime'].dt.strftime('%H:%M').isin(['00:00', '23:59'])]
start_end2 = start_end2.sort_values('DateTime', ascending=True)
#start_end = start_end[~start_end['Third Party Name'].isnull()]

print(start_end2.shape[0])
start_end2

15

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
30961,1839,221356538.0,714.020000,-100.0,NaN,NaN,2023-01-01 00:00:00,None
172894,3027,769311479.0,-147.940000,-18.99,NaN,NaN,2023-01-01 00:00:00,None
210782,2388,912584712.0,960.040000,-15.99,NaN,NaN,2023-01-01 00:00:00,None
223337,2173,977899503.0,2521.020000,-12.99,NaN,NaN,2023-01-01 00:00:00,None
165171,25631,736340277.0,2971.743647,-5.99,NaN,NaN,2023-01-31 23:59:00,None
227530,77836,990461108.0,82.276269,-12.99,NaN,NaN,2023-04-30 23:59:00,None
368,93675,105375973.0,52.965653,900.0,NaN,NaN,2023-05-30 23:59:00,None
41996,97713,264550521.0,8856.156643,-7.0,NaN,NaN,2023-05-31 23:59:00,None
214025,133639,929044080.0,999.671392,740.0,NaN,NaN,2023-07-30 23:59:00,None
38931,176001,254018059.0,144.578750,240.0,NaN,NaN,2023-09-29 23:59:00,None
142054,181024,655368335.0,5404.721910,-5.99,NaN,NaN,2023-09-30 23:59:00,None
198233,201723,866941383.0,2734.506950,-7.0,NaN,NaN,2023-10-31 23:59:00,None
115041,223889,549414742.0,8439.325327,-5.99,NaN,NaN,2023-11-30 23:59:00,None
120241,223381,570323670.0,4286.466779,-5.99,NaN,NaN,2023-11-30 23:59:00,None
176039,224258,780463728.0,5209.080871,-7.0,NaN,NaN,2023-11-30 23:59:00,None

In [41]:
mask = df['Third Party Account No'].isna() & df['Third Party Name'].isna() & df['DateTime'].dt.strftime('%H:%M').isin(['00:00', '23:59'])
filtered_df = df[mask]

# use mode to fill Third Party Name
for account, amount in filtered_df[['Account No', 'Amount']].drop_duplicates().values:
    mode = df[(df['Account No'] == account) & (df['Amount'] == amount) & df['DateTime'].dt.strftime('%H:%M').notin(['00:00', '23:59'])]]['Third Party Name'].mode()
    if not mode.empty:
        df.loc[(df['Account No'] == account) & (df['Amount'] == amount) & df['Third Party Name'].isna(), 'Third Party Name'] = mode[0]

# check fill result
filled_df = df[mask]
filled_df

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
368,93675,105375973.0,52.965653,900.0,NaN,NaN,2023-05-30 23:59:00,None
30961,1839,221356538.0,714.020000,-100.0,NaN,Grand Union BJJ,2023-01-01 00:00:00,None
38931,176001,254018059.0,144.578750,240.0,NaN,NaN,2023-09-29 23:59:00,None
41996,97713,264550521.0,8856.156643,-7.0,NaN,Xbox,2023-05-31 23:59:00,None
115041,223889,549414742.0,8439.325327,-5.99,NaN,Mojang Studios,2023-11-30 23:59:00,None
120241,223381,570323670.0,4286.466779,-5.99,NaN,Mojang Studios,2023-11-30 23:59:00,None
142054,181024,655368335.0,5404.721910,-5.99,NaN,Mojang Studios,2023-09-30 23:59:00,None
165171,25631,736340277.0,2971.743647,-5.99,NaN,Mojang Studios,2023-01-31 23:59:00,None
172894,3027,769311479.0,-147.940000,-18.99,NaN,PureGym,2023-01-01 00:00:00,None
176039,224258,780463728.0,5209.080871,-7.0,NaN,Xbox,2023-11-30 23:59:00,None
198233,201723,866941383.0,2734.506950,-7.0,NaN,Xbox,2023-10-31 23:59:00,None
210782,2388,912584712.0,960.040000,-15.99,NaN,Netflix,2023-01-01 00:00:00,None
214025,133639,929044080.0,999.671392,740.0,NaN,NaN,2023-07-30 23:59:00,None
223337,2173,977899503.0,2521.020000,-12.99,NaN,SquareOnix,2023-01-01 00:00:00,None
227530,77836,990461108.0,82.276269,-12.99,NaN,SquareOnix,2023-04-30 23:59:00,None

In [42]:
mask = df['Third Party Account No'].isna() & df['Third Party Name'].isna() & df['DateTime'].dt.strftime('%H:%M').isin(['00:00', '23:59'])
filtered_df = df[mask]

# use mode to fill Third Party Account No
for account, amount in filtered_df[['Account No', 'Amount']].drop_duplicates().values:
    mode = df[(df['Account No'] == account) & (df['Amount'] == amount)]['Third Party Account No'].mode()
    if not mode.empty:
        df.loc[(df['Account No'] == account) & (df['Amount'] == amount) & df['Third Party Account No'].isna(), 'Third Party Account No'] = mode[0]

# check fill result
filled_df = df[mask]
filled_df

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
368,93675,105375973.0,52.965653,900.0,709632525.0,NaN,2023-05-30 23:59:00,None
38931,176001,254018059.0,144.578750,240.0,817294757.0,NaN,2023-09-29 23:59:00,None
214025,133639,929044080.0,999.671392,740.0,220183538.0,NaN,2023-07-30 23:59:00,None

In [43]:
df[df['Third Party Account No'].isna() & df['Third Party Name'].isna()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
374,108788,105375973.0,-182.724347,-26.49,NaN,NaN,2023-06-21 04:48:00,None
1002,228343,108481285.0,10767.326581,-2.8,NaN,NaN,2023-12-03 05:58:00,None
2983,182197,116598243.0,3076.114937,-5.59,NaN,NaN,2023-10-01 08:49:00,None
3175,63226,117273481.0,3657.941568,-5.99,NaN,NaN,2023-04-02 10:33:00,None
4350,92961,120634201.0,1825.257200,-33.0,NaN,NaN,2023-05-30 09:28:00,None
...,...,...,...,...,...,...,...,...
222090,193560,971010829.0,13.675056,-35.95,NaN,NaN,2023-10-21 10:43:00,None
224643,72779,982286721.0,-2080.205524,-49.59,NaN,NaN,2023-04-25 13:53:00,None
227110,130397,987656636.0,5521.149609,-170.8,NaN,NaN,2023-07-24 11:28:00,None
230199,103361,999752672.0,1792.000094,-125.55,NaN,NaN,2023-06-09 08:39:00,None
230400,31499,NaN,-234.967241,-118.6,NaN,NaN,2023-02-10 18:58:00,None

We already fill all missing value in fix time

### fill missing value in fix value and not fix time
#### Use mode not in 00:00 & 23:59 with same account number and same amount

In [86]:
#df2 = df.copy()
df = df2.copy()

In [84]:
df[df['Third Party Account No'].isna() & df['Third Party Name'].isna()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
374,108788,105375973.0,-182.724347,-26.49,NaN,NaN,2023-06-21 04:48:00,None
1002,228343,108481285.0,10767.326581,-2.8,NaN,NaN,2023-12-03 05:58:00,None
2983,182197,116598243.0,3076.114937,-5.59,NaN,NaN,2023-10-01 08:49:00,None
3175,63226,117273481.0,3657.941568,-5.99,NaN,NaN,2023-04-02 10:33:00,None
4350,92961,120634201.0,1825.257200,-33.0,NaN,NaN,2023-05-30 09:28:00,None
...,...,...,...,...,...,...,...,...
222090,193560,971010829.0,13.675056,-35.95,NaN,NaN,2023-10-21 10:43:00,None
224643,72779,982286721.0,-2080.205524,-49.59,NaN,NaN,2023-04-25 13:53:00,None
227110,130397,987656636.0,5521.149609,-170.8,NaN,NaN,2023-07-24 11:28:00,None
230199,103361,999752672.0,1792.000094,-125.55,NaN,NaN,2023-06-09 08:39:00,None
230400,31499,NaN,-234.967241,-118.6,NaN,NaN,2023-02-10 18:58:00,None

In [85]:
# Mask for rows where 'Third Party Account No' and 'Third Party Name' are NaN
mask = df['Third Party Account No'].isna() & df['Third Party Name'].isna()
filtered_df = df[mask]

# Function to get the mode only if it occurs more than a specified count
def get_mode(series, count):
    mode_series = series.mode()
    if not mode_series.empty and (series == mode_series[0]).sum() > count:
        return mode_series[0]
    else:
        return np.nan

# Function to fill in 'Third Party Name' using the mode with a count greater than 2
def fill_third_party_name(account, amount):
    condition = (df['Account No'] == account) & (df['Amount'] == amount)
    condition &= ~df['DateTime'].dt.strftime('%H:%M').isin(['00:00', '23:59'])
    mode_value = get_mode(df[condition]['Third Party Name'], 2)
    return mode_value

# Apply the fill function for each unique combination of 'Account No' and 'Amount'
for account, amount in filtered_df[['Account No', 'Amount']].drop_duplicates().values:
    mode_value = fill_third_party_name(account, amount)
    if pd.notna(mode_value):
        fill_condition = (df['Account No'] == account) & (df['Amount'] == amount) & df['Third Party Name'].isna()
        df.loc[fill_condition, 'Third Party Name'] = mode_value

# Check the fill result for rows that originally had NaN values for 'Third Party Name'
filled_df = df[mask & df['Third Party Name'].notna()]
filled_df

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
3175,63226,117273481.0,3657.941568,-5.99,NaN,The Works,2023-04-02 10:33:00,None
17700,48748,169006407.0,6056.252906,-5.65,NaN,Starbucks,2023-03-10 09:10:00,None
21914,122934,187111705.0,4879.702351,-6.9,NaN,Starbucks,2023-07-08 13:07:00,None
58864,187050,336557504.0,1287.287695,-5.7,NaN,Starbucks,2023-10-09 08:08:00,None
59545,32359,340321732.0,1124.920800,-5.0,NaN,Coffee #1,2023-02-12 13:08:00,None
71452,7545,395284483.0,699.993151,-5.1,NaN,Coffee #1,2023-01-05 08:22:00,None
106888,36323,520447032.0,2050.425879,-99.98,NaN,Gamestation,2023-02-22 09:58:00,None
143919,228447,659415300.0,2695.894296,-5.4,NaN,Starbucks,2023-12-03 10:17:00,None
217781,45187,948558249.0,3338.323215,-5.35,NaN,Starbucks,2023-03-02 08:04:00,None

#### If use mode and it more than 2, 9 missing values will be filled
#### If use mode and it maybe just happen once, 39 missing values will be filled

In [87]:
mask = df['Third Party Account No'].isna() & df['Third Party Name'].isna()

# find mode in same account and same mount, but not within 00:00 & 23:59
def fill_third_party_name(account, amount):
    condition = (df['Account No'] == account) & (df['Amount'] == amount)
    condition &= ~df['DateTime'].dt.strftime('%H:%M').isin(['00:00', '23:59'])
    mode_series = df[condition]['Third Party Name'].mode()
    return mode_series[0] if not mode_series.empty else np.nan

# fill in
for account, amount in df[mask][['Account No', 'Amount']].drop_duplicates().values:
    mode_value = fill_third_party_name(account, amount)
    if pd.notna(mode_value):
        fill_condition = (df['Account No'] == account) & (df['Amount'] == amount) & df['Third Party Name'].isna()
        df.loc[fill_condition, 'Third Party Name'] = mode_value

# check fill result
filled_df = df[mask & df['Third Party Name'].notna()]
filled_df

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
3175,63226,117273481.0,3657.941568,-5.99,NaN,The Works,2023-04-02 10:33:00,None
4350,92961,120634201.0,1825.257200,-33.0,NaN,Hobby Lobby,2023-05-30 09:28:00,None
4932,75176,122884111.0,-754.538583,-45.0,NaN,Matalan,2023-04-30 10:45:00,None
6763,70133,129018172.0,2225.932766,-241.5,NaN,Selfridges,2023-04-18 17:46:00,None
9521,21430,138351025.0,399.219000,-50.0,NaN,Sports Direct,2023-01-31 13:59:00,None
17700,48748,169006407.0,6056.252906,-5.65,NaN,Starbucks,2023-03-10 09:10:00,None
19554,167437,175452235.0,-491.142750,-206.5,NaN,Fat Face,2023-09-12 16:15:00,None
21914,122934,187111705.0,4879.702351,-6.9,NaN,Starbucks,2023-07-08 13:07:00,None
22166,227226,187111705.0,8353.601282,-6.85,NaN,Starbucks,2023-12-01 13:24:00,None
29600,118619,215426302.0,2409.892404,-6.99,NaN,Blackwell's,2023-07-01 08:27:00,None
38991,35981,254853117.0,3776.994065,-180.6,NaN,Topshop,2023-02-21 11:55:00,None
58864,187050,336557504.0,1287.287695,-5.7,NaN,Starbucks,2023-10-09 08:08:00,None
59545,32359,340321732.0,1124.920800,-5.0,NaN,Coffee #1,2023-02-12 13:08:00,None
61777,190555,348325817.0,9947.369172,-6.35,NaN,Starbucks,2023-10-15 13:09:00,None
62768,19980,352291960.0,-63.019797,-51.75,NaN,Fat Face,2023-01-30 12:49:00,None
71452,7545,395284483.0,699.993151,-5.1,NaN,Coffee #1,2023-01-05 08:22:00,None
74843,72981,407574996.0,1532.362555,-2.47,NaN,Boots,2023-04-26 06:28:00,None
78110,160573,417850087.0,15788.109784,-2.72,NaN,Fat Face,2023-09-01 07:57:00,None
80687,65190,425964226.0,1751.331800,-79.98,NaN,Gamestation,2023-04-06 17:37:00,None
94104,193334,480557476.0,10574.041579,-14.99,NaN,JustEat,2023-10-21 06:15:00,None
106888,36323,520447032.0,2050.425879,-99.98,NaN,Gamestation,2023-02-22 09:58:00,None
126639,8087,596171893.0,1631.100000,-11.98,NaN,The Works,2023-01-06 09:24:00,None
129246,7978,605116158.0,1678.542600,-27.64,NaN,Tesco,2023-01-05 20:08:00,None
131708,191550,613729471.0,8607.781581,-7.07,NaN,The Works,2023-10-17 10:28:00,None
132487,213051,618138606.0,1437.085903,-4.95,NaN,Starbucks,2023-11-15 09:16:00,None
133776,18989,624563756.0,-471.083482,-15.03,NaN,Tesco,2023-01-28 10:10:00,None
139122,65655,642924505.0,1472.614461,-12.98,NaN,Blackwell's,2023-04-07 19:42:00,None
143919,228447,659415300.0,2695.894296,-5.4,NaN,Starbucks,2023-12-03 10:17:00,None
157015,213656,699139822.0,559.064076,-133.0,NaN,Matalan,2023-11-16 12:47:00,None
166458,129852,741269136.0,2607.298450,-40.95,NaN,The Works,2023-07-23 11:16:00,None
168407,192063,749378808.0,3769.216050,-34.18,NaN,Deliveroo,2023-10-18 12:03:00,None
179011,120086,795847804.0,16727.444141,-39.22,NaN,Fitted Stitch,2023-07-03 03:09:00,None
183263,51471,815993333.0,-381.150350,-57.99,NaN,Tesco,2023-03-17 09:02:00,None
190478,49866,838830098.0,348.673192,-67.98,NaN,Sports Direct,2023-03-12 15:22:00,None
194317,139915,854513972.0,744.178350,-149.98,NaN,Reebok,2023-08-01 17:48:00,None
208334,92229,903468956.0,101.844500,-35.0,NaN,Topshop,2023-05-28 11:40:00,None
217208,101326,943829984.0,1285.238902,-166.99,NaN,Topshop,2023-06-04 15:46:00,None
217781,45187,948558249.0,3338.323215,-5.35,NaN,Starbucks,2023-03-02 08:04:00,None
222090,193560,971010829.0,13.675056,-35.95,NaN,The Works,2023-10-21 10:43:00,None

In [88]:
a = len(filled_df)
a

39

In [89]:
mask = df['Third Party Account No'].isna() & df['Third Party Name'].isna()

# find mode in same account and same mount, but not within 00:00 & 23:59
def fill_third_party_account(account, amount):
    condition = (df['Account No'] == account) & (df['Amount'] == amount)
    condition &= ~df['DateTime'].dt.strftime('%H:%M').isin(['00:00', '23:59'])
    mode_series2 = df[condition]['Third Party Account No'].mode()
    return mode_series2[0] if not mode_series2.empty else np.nan

# fill in
for account, amount in df[mask][['Account No', 'Amount']].drop_duplicates().values:
    mode_value = fill_third_party_account(account, amount)
    if pd.notna(mode_value):
        fill_condition = (df['Account No'] == account) & (df['Amount'] == amount) & df['Third Party Account No'].isna()
        df.loc[fill_condition, 'Third Party Account No'] = mode_value

# check fill result
filled_df2 = df[mask & df['Third Party Account No'].notna()]
filled_df2

Empty DataFrame
Columns: [index, Account No, Balance, Amount, Third Party Account No, Third Party Name, DateTime, Calculated_Amount]
Index: []

In [90]:
df[df['Third Party Account No'].isna() & df['Third Party Name'].isna()]

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
374,108788,105375973.0,-182.724347,-26.49,NaN,NaN,2023-06-21 04:48:00,None
1002,228343,108481285.0,10767.326581,-2.8,NaN,NaN,2023-12-03 05:58:00,None
2983,182197,116598243.0,3076.114937,-5.59,NaN,NaN,2023-10-01 08:49:00,None
9048,49462,137822385.0,1652.562668,-86.94,NaN,NaN,2023-03-11 19:10:00,None
10528,28454,143003091.0,4036.506624,-62.97,NaN,NaN,2023-02-04 12:30:00,None
...,...,...,...,...,...,...,...,...
220690,93790,962295212.0,22.522350,1370.0,NaN,NaN,2023-05-31 06:23:00,None
224643,72779,982286721.0,-2080.205524,-49.59,NaN,NaN,2023-04-25 13:53:00,None
227110,130397,987656636.0,5521.149609,-170.8,NaN,NaN,2023-07-24 11:28:00,None
230199,103361,999752672.0,1792.000094,-125.55,NaN,NaN,2023-06-09 08:39:00,None
230400,31499,NaN,-234.967241,-118.6,NaN,NaN,2023-02-10 18:58:00,None

In [91]:
df.isnull().sum()

index                          0
Account No                   224
Balance                        1
Amount                         1
Third Party Account No    223758
Third Party Name            6983
DateTime                       0
Calculated_Amount         230433
dtype: int64

### fill missing value in Account nunber

In [92]:
mask = df['Account No'].isna() 
filtered_df = df[mask]
filtered_df.to_csv('filtered_df.csv')

In [93]:
missing1 = (df['Third Party Name'] == 'Hobby Lobby') & (df['Amount'] == 1542.5)
filter1 = df[missing1]
filter1

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
2532,20639,116169597.0,499.66920,1542.5,NaN,Hobby Lobby,2023-01-31,None
2548,38759,116169597.0,747.52265,1542.5,NaN,Hobby Lobby,2023-02-28,None
2565,56683,116169597.0,1355.52120,1542.5,NaN,Hobby Lobby,2023-03-31,None
2581,74777,116169597.0,1804.21655,1542.5,NaN,Hobby Lobby,2023-04-30,None
2595,93377,116169597.0,2172.75205,1542.5,NaN,Hobby Lobby,2023-05-31,None
...,...,...,...,...,...,...,...,...
210920,154679,912584712.0,660.77562,1542.5,NaN,Hobby Lobby,2023-08-31,None
210937,176374,912584712.0,824.18262,1542.5,NaN,Hobby Lobby,2023-09-30,None
210951,198685,912584712.0,1497.85862,1542.5,NaN,Hobby Lobby,2023-10-31,None
210970,220945,912584712.0,920.05062,1542.5,NaN,Hobby Lobby,2023-11-30,None
230407,38587,NaN,1706.89350,1542.5,NaN,Hobby Lobby,2023-02-28,None

# Delete missing data

In [94]:
df.isnull().sum()

index                          0
Account No                   224
Balance                        1
Amount                         1
Third Party Account No    223758
Third Party Name            6983
DateTime                       0
Calculated_Amount         230433
dtype: int64

In [95]:
df

,index,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime,Calculated_Amount
0,912,101531259.0,124.000000,-859.0,NaN,LBG,2023-01-01 00:00:00,None
1,4036,101531259.0,116.010000,-7.99,NaN,Disney,2023-01-01 00:00:00,None
2,4037,101531259.0,16.010000,-100.0,NaN,Grand Union BJJ,2023-01-01 00:00:00,None
3,4743,101531259.0,-63.990000,-80.0,NaN,Matalan,2023-01-01 09:37:00,None
4,5133,101531259.0,-247.990000,-184.0,NaN,Matalan,2023-01-01 12:00:00,None
...,...,...,...,...,...,...,...,...
230591,223657,NaN,11517.049529,-15.99,NaN,Netflix,2023-11-30 23:59:00,None
230592,226353,NaN,-1692.102105,-15.99,NaN,Netflix,2023-11-30 23:59:00,None
230593,222727,NaN,-731.036300,-1226.0,NaN,Halifax,2023-12-01 00:00:00,None
230594,229119,NaN,2619.340104,-225.37,NaN,Topshop,2023-12-04 10:03:00,None
230595,230360,NaN,30.958899,-111.36,NaN,Fitted Stitch,2023-12-06 11:34:00,None

In [96]:
df = df.dropna(subset=['Account No'])
df = df.dropna(subset=['Third Party Account No', 'Third Party Name'], how='all')
df = df.drop('Calculated_Amount', axis=1)

In [97]:
df.set_index('index', inplace=True)
df.sort_index(inplace=True)
df.reset_index(drop=True, inplace=True)

In [98]:
df.isnull().sum()

Account No                     0
Balance                        0
Amount                         0
Third Party Account No    223393
Third Party Name            6835
DateTime                       0
dtype: int64

In [99]:
df.to_csv('df.csv')

In [100]:
df

,Account No,Balance,Amount,Third Party Account No,Third Party Name,DateTime
0,678330503.0,2971.000000,1584.0,NaN,Westport Care Home,2023-01-01 00:00:00
1,472213568.0,3792.000000,1950.0,NaN,Barbiee Boutique,2023-01-01 00:00:00
2,472213568.0,3012.000000,-780.0,283027736.0,NaN,2023-01-01 00:00:00
3,283027736.0,1787.000000,780.0,472213568.0,NaN,2023-01-01 00:00:00
4,624500124.0,3226.000000,1825.0,NaN,Fat Face,2023-01-01 00:00:00
...,...,...,...,...,...,...
230223,581655972.0,45935.206861,-41.06,NaN,Tesco,2023-12-06 20:54:00
230224,786141370.0,-244.837500,-62.35,NaN,Sainsbury Local,2023-12-06 20:55:00
230225,824916823.0,9709.172159,-32.94,NaN,Deliveroo,2023-12-06 21:05:00
230226,366550080.0,26834.165794,-19.25,NaN,Amazon,2023-12-06 21:13:00
230227,259015404.0,1145.349837,-37.64,NaN,JustEat,2023-12-06 21:32:00